In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",        # Change this if you have a different MySQL username
    password="password", # Change this to your MySQL password
    database="customer_db"
)
cursor = conn.cursor()

# Load dataset
df = pd.read_csv("customers.csv")

# Insert data into MySQL
cursor.execute("TRUNCATE TABLE customers")  # Clear previous data
for _, row in df.iterrows():
    sql = "INSERT INTO customers (id, customer_name, age, income, spending_score) VALUES (%s, %s, %s, %s, %s)"
    values = (row['id'], row['customer_name'], row['age'], row['income'], row['spending_score'])
    cursor.execute(sql, values)

conn.commit()
print("✅ Data inserted into MySQL successfully!")

# Fetch Data from MySQL for Clustering
query = "SELECT id, age, income, spending_score FROM customers"
df = pd.read_sql(query, conn)

# Data Preprocessing
df.dropna(inplace=True)  # Remove missing values
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df[['age', 'income', 'spending_score']])

# Apply K-Means Clustering
kmeans = KMeans(n_clusters=3, random_state=42)
df['cluster'] = kmeans.fit_predict(df_scaled)

# Store Segmented Data in MySQL
cursor.execute("ALTER TABLE customers ADD COLUMN IF NOT EXISTS cluster INT")  # Add cluster column if not exists
for index, row in df.iterrows():
    cursor.execute("UPDATE customers SET cluster = %s WHERE id = %s", (int(row['cluster']), int(row['id'])))

conn.commit()
print("✅ Customer segmentation completed and saved to MySQL!")

# Visualization
plt.figure(figsize=(8, 6))
sns.scatterplot(x=df['income'], y=df['spending_score'], hue=df['cluster'], palette='viridis')
plt.xlabel("Annual Income")
plt.ylabel("Spending Score")
plt.title("Customer Segmentation")
plt.legend(title="Cluster")
plt.show()

# Close MySQL Connection
conn.close()

ModuleNotFoundError: No module named 'mysql'